In [5]:
a=range(1,10,2)
print(list(a))

[1, 3, 5, 7, 9]

In [7]:
list1=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
list2=["香蕉","蘋果"]
print(list2)

['香蕉', '蘋果']

In [9]:
list3=[1,"香蕉",True]
print(list3)

[1, '香蕉', True]

In [11]:
print(list3[0])
print(list3[1])
print(list3[2])

1
香蕉
True

In [17]:
list4=[["tom","1234"]],["marcy","abcd"],["david","5678"]
print(list4[0])
print(list4[0][0])
print(list4[0][0][1])
print(list4[2])
print(list4[2][1])

[['tom', '1234']]
['tom', '1234']
1234
['david', '5678']
5678

In [18]:
list=[85,79,93]
print("國文成績為",list[0])
print("數學成績為",list[1])
print("英文成績為",list[2])

國文成績為 85
數學成績為 79
英文成績為 93

In [20]:
d=input("國文成績")
b=input("數學成績")
c=input("英文成績")
list=[d,b,c]
print("國文成績為",list[0])
print("數學成績為",list[1])
print("英文成績為",list[2])

國文成績為 85
數學成績為 79
英文成績為 93

In [21]:
list=list2=["香蕉","蘋果","橘子"]
for i in list:
    print(i,end=",")

香蕉,蘋果,橘子,

In [22]:
score=[85,79,93]
print(len(score))

3

In [24]:
score=[85,79,93]
for i in range(len(score)):
    print(score[i])

85
79
93

In [32]:
name=["Tom","Mary","Tony"]
score=[85,79,93]
ob=["國文成績:","數學成績:","英文成績:"]
for i in range(len(name)):
    print("姓名:",name[i],ob[i],score[i])

姓名: Tom 國文成績: 85
姓名: Mary 數學成績: 79
姓名: Tony 英文成績: 93

In [92]:
list=str(input())
list=list.split()
for i in range(1,len(list)+1):
    print(list[-i],end=" ")

['1', '2', '3']
3 2 1

In [110]:
list=str(input())
list=list.split()
for i in range(int(list[0]),int(list[1]),int(list[2])):
    print(i,end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,